@import '../../../../../../../assets/scss/breakPoints';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 50px 35px;
  width: 97%;
  height: 530px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #FFFFFF;
  box-shadow: 0 4px 20px rgba(12, 23, 22, 0.06);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;

  @media only screen and (max-width: $breakpoint-1800) {
    padding: 40px 30px 25px;
    height: 381px;
    width: 94%;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    width: 95%;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    height: 504px;
    padding: 30px 20px 20px;
    width: 88%;
  }

  .feedback {
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
    color: #25333A;
    min-height: 280px;

    @media only screen and (max-width: $breakpoint-1800) {
      font-size: 20px;
      line-height: 28px;
      min-height: 196px;
    }

    @media only screen and (max-width: $breakpoint-mobile) {
      font-size: 18px;
      min-height: 261px;
    }

    @media only screen and (max-width: $breakpoint-425) {
      min-height: 343px;
    }
  }

  .wrapperBottomBlock {
    display: flex;

    @media only screen and (max-width: $breakpoint-mobile) {
      justify-content: space-between;
    }

    .wrapperName {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
      padding-right: 44%;

      @media only screen and (max-width: $breakpoint-1800) {
        padding-right: 35%;
      }

      @media only screen and (max-width: $breakpoint-tablet) {
        padding-right: 31%;
      }

      @media only screen and (max-width: $breakpoint-mobile) {
        padding-right: 0;
        padding-left: 10px;
      }

      .name {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #25333A;
        padding-bottom: 5px;

        @media only screen and (max-width: $breakpoint-1800) {
          font-size: 18px;
          line-height: 28px;
        }

        @media only screen and (max-width: $breakpoint-mobile) {
          font-size: 20px;
          line-height: 28px;
          padding-bottom: 0;
        }
      }

      .position {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #9BAAB1;

        @media only screen and (max-width: $breakpoint-1800) {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }

    .photo {
      @media only screen and (max-width: $breakpoint-1800) {
        width: 15%;
      }

      @media only screen and (max-width: $breakpoint-mobile) {
        width: 18%;
        position: relative;
        top: 2px;
      }
    }

    .brackets {
      position: relative;
      top: 14px;

      @media only screen and (max-width: $breakpoint-1800) {
        width: 11%;
      }

      @media only screen and (max-width: $breakpoint-mobile) {
        width: 9%;
        top: 9px;
      }
    }
  }

  .line {
    height: 1px;
    width: 100%;
    background: #FE531E;
    border-radius: 15px;
  }
}
