$breakpoint-1800: 1800px;
$breakpoint-1680: 1680px;
$breakpoint-1600: 1600px;
$breakpoint-laptop: 1440px;
$breakpoint-laptop-1366: 1366px;
$breakpoint-1280: 1280px;
$breakpoint-max-width: 1260px;
$breakpoint-1170: 1170px;
$breakpoint-tablet: 1024px;
$breakpoint-ipad: 820px;
$breakpoint-tablet-768: 768px;
$breakpoint-740: 740px;
$breakpoint-700: 700px;
$breakpoint-mobile: 668px;
$breakpoint-480: 480px;
$breakpoint-425: 425px;
$breakpoint-375: 375px;
$breakpoint-320: 320px;
