@import '../../../../../../assets/scss/breakPoints.scss';

.aboutInfo {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    max-width: 732px;

    @media only screen and (max-width: $breakpoint-laptop) {
        max-width: 618px;
    }

    @media only screen and (max-width: $breakpoint-laptop-1366) {
        max-width: 518px;
    }

    @media only screen and (max-width: $breakpoint-1170) {
        max-width: 100%;
    }

    @media only screen and (max-width: $breakpoint-375) {
        row-gap: 24px;
    }
}
