@import '../../../../../assets/scss/breakPoints.scss';

.solutions {
    background-color: #FAFCFB;
}

.container {
    background-image: url('/images/projects/Sestra/bg-dots/bg-solutions-bg.svg');
    background-position: left 160px;
    background-repeat: no-repeat;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    padding: 96px 60px 120px 60px;

    @media only screen and (max-width: $breakpoint-laptop-1366) {
        background-position: -185px 150px;
        padding: 50px 40px 80px 40px;
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        background-position: -147px 96px;
        padding: 126px 0 56px;
    }

    @media only screen and (max-width: $breakpoint-mobile) {
        background-image: url('/images/projects/Sestra/bg-dots/bg-benefits-mobile-dots.svg');
        background-position: left 271px;
        padding: 88px 0 40px;
    }

    &::before {
        content: "";
        width: 2px;
        height: 40px;
        background: #D1D1D1;
        position: absolute;
        right: 333px;
        bottom: 0;

        @media only screen and (max-width: $breakpoint-laptop-1366) {
            height: 30px;
            right: 50%;
        }
        @media only screen and (max-width: $breakpoint-mobile) {
            height: 20px;
        }
    }
}

.solutionsCardsWrapper {
    display: flex;
    column-gap: 30px;
}

.customDotList {
    display: flex;
    column-gap: 12px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.carouselContainer {
    padding-bottom: 88px;
    padding-left: 10px;
    overflow: visible;

    @media only screen and (max-width: $breakpoint-mobile) {
        padding-left: 0;

        button:first-of-type {
            left: 41px;
        }

        button:last-of-type {
            right: 41px;
        }
    }

    @media only screen and (max-width: $breakpoint-375) {
        padding-bottom: 72px;
    }
}

.cardWrapper {
    width: 100%;
    padding-left: 20px;

    @media only screen and (max-width: $breakpoint-mobile) {
        padding: 0 30px;
    }

    @media only screen and (max-width: $breakpoint-375) {
        padding: 0 15px;
    }
}
