.technicalSection {
  padding: 160px 0;
  background: url(/images/projects/SunUp/technical-bg.png) no-repeat center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1920px;

  * {
    font-family: Roboto, sans-serif;
  }

  h2 {
    font-weight: 500;
    font-size: 65px;
    line-height: 84px;
    color: #1A1C1E;
    margin: 0 0 90px 6vw;
  }
}

.technicalForm {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  background: url("/images/projects/SunUp/technical-form.png") no-repeat center;
  padding: 60px 40px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .technicalCode {
    max-width: 320px;
    width: 100%;
    flex-shrink: 0;
  }
}

.stackWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row nowrap;
  width: 100%;
}

.stackRow {
  &:not(:last-child) {
    margin-right: 15px;
  }

  &:nth-child(1) {
    transform: translateY(-55px);

    .stackItem {
      &:nth-child(1) {
        margin-bottom: 40px;
      }

      &:nth-child(2) {
        margin-bottom: 60px;
      }
    }
  }

  &:nth-child(2) {
    margin-top: 50px;

    .stackItem {
      &:nth-child(1) {
        margin-bottom: 45px;
      }
    }
  }

  &:nth-child(3) {
    margin-top: 150px;

    .stackItem {
      &:nth-child(1) {
        margin-bottom: 40px;
      }
    }
  }

  &:nth-child(4) {
    .stackItem {
      &:nth-child(1) {
        margin-bottom: 60px;
      }
    }
  }
}

.stackItem {
  transition: .3s;

  &:hover {
    transform: translateY(-15px);
  }
}

@media (max-width: 768px) {
  .technicalSection {
    h2 {
      margin: 0 0 30px;
      text-align: center;
    }
  }

  .technicalForm {
    .technicalCode {
      display: none;
    }
  }
}


@media (max-width: 669px) {
  .technicalSection {
    padding: 60px 0;

    h2 {
      font-size: 36px;
      line-height: 50px;
    }
  }
}
