@import '../../../../assets/scss/breakPoints.scss';

.infoText {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #474747;

    @media only screen and (max-width: $breakpoint-laptop-1366) {
        font-size: 18px;
        line-height: 28px;
    }

    span {
        font-weight: 700;
    }
}
