.dcrFooter {
  max-width: 1920px;
  margin: 0 auto;
}

.dcrFooterWrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  h2 {
    color: #131516;
    font-weight: bold;
    font-size: 90px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 55px;
  }
}

.dcrFooterList {
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.dcrFooterItem {
  max-width: 330px;
  width: 100%;
  padding: 50px 30px 80px;
  flex-shrink: 0;
  margin: 0 15px;

  img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
  }

  p {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #353535;
  }
}

.dcrFooterBottom {
  margin-top: 120px;
  height: 60px;
  background: #131516;
  width: 100%;
}

@media only screen and (max-width: 669px) {
  .dcrFooter {
    margin-top: -100px;
  }

  .dcrFooterWrapper {
    h2 {
      font-size: 40px;
      line-height: 115%;
      margin-bottom: 40px
    }
  }

  .dcrFooterItem {
    max-width: 135px;
    padding: 10px 0 15px;
    margin: 0 10px;

    p {
      font-size: 15px;
      line-height: 20px;
    }
  }
}
