@import '../../../../../assets/scss/breakPoints';

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 60px 0 60px;
  font-family: Montserrat, sans-serif;
  position: relative;

  @media only screen and (max-width: $breakpoint-laptop) {
    padding: 0 40px 32px 40px;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    flex-direction: column-reverse;
    padding: 0 30px 0 30px;
    position: relative;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    padding: 0 15px 0 15px;
  }
}

.img {
  position: relative;
  padding-top: 304px;
  left: -159px;
  width: 100%;

  @media only screen and (max-width: $breakpoint-1800) {
    width: 98%;
    left: -203px;
  }

  @media only screen and (max-width: $breakpoint-laptop) {
    width: 100%;
    left: -106px;
    top: 28px;
  }

  @media only screen and (max-width: $breakpoint-max-width) {
    width: 94%;
    left: -183px;
    top: 52px;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.imgTablet {
  display: none;

  @media only screen and (max-width: $breakpoint-tablet) {
    display: flex;
    justify-content: center;
    position: relative;
    top: 2px;
    left: -8px;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.imgMobile {
  display: none;

  @media only screen and (max-width: $breakpoint-mobile) {
    display: flex;
    justify-content: center;
    position: relative;
    top: -5px;
    left: -13px;
    width: 108%;
  }
}

.wrapperText {
  position: absolute;
  padding-top: 305px;
  width: 38%;

  @media only screen and (max-width: $breakpoint-1800) {
    padding-top: 255px;
  }

  @media only screen and (max-width: $breakpoint-1680) {
    padding-top: 210px;
    width: 40%;
  }

  @media only screen and (max-width: $breakpoint-laptop) {
    padding-top: 259px;
    width: 38%;
  }

  @media only screen and (max-width: $breakpoint-max-width) {
    padding-top: 226px;
    width: 42%;
  }

  @media only screen and (max-width: $breakpoint-1170) {
    width: 51%;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    width: 100%;
    padding-top: 30%;
    position: sticky;
  }

  .wrapperDescription {
    margin: 48px 0 40px 0;

    @media only screen and (max-width: $breakpoint-laptop) {
      margin: 41px 0 31px 0;
    }

    @media only screen and (max-width: $breakpoint-max-width) {
      margin: 4px 0 30px 0;
    }

    @media only screen and (max-width: $breakpoint-tablet) {
      margin: 39px 0 30px 0;
    }

    @media only screen and (max-width: $breakpoint-mobile) {
      margin: 31px 0 23px 0;
    }
  }

  .descriptionBold,
  .bookingsRealized,
  .description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #250B4A;

    @media only screen and (max-width: $breakpoint-laptop) {
      font-size: 18px;
      line-height: 28px;
    }

    @media only screen and (max-width: $breakpoint-mobile) {
      line-height: 32px;
    }
  }
  .descriptionBold,
  .description {
    padding: 48px 0 40px 0;

    @media only screen and (max-width: $breakpoint-laptop) {
      padding: 39px 0 32px 0;
    }

    @media only screen and (max-width: $breakpoint-mobile) {
      padding: 32px 0 20px 0;
    }
  }

  .descriptionBold {
    font-weight: 600;
  }

  .bookingsRealized {
    margin-bottom: 32px;

    @media only screen and (max-width: $breakpoint-1600) {
      margin-bottom: 36px;
    }

    @media only screen and (max-width: $breakpoint-laptop) {
      margin-bottom: 18px;
    }

    @media only screen and (max-width: $breakpoint-laptop-1366) {
      margin-bottom: 25px;
    }

    @media only screen and (max-width: $breakpoint-1170) {
      margin-bottom: 22px;
    }
  }
}
