@import '../../../../assets/scss/breakPoints';

.wrapper {
  display: grid;
  grid-template-columns:minmax(500px, 733px) minmax(500px, 885px);
  justify-content: space-between;
  gap: 40px;
}

.card {
  display: grid;
  gap: 34px;
  font-size: 24px;
  line-height: 32px;
  background: #FFFFFF;
  border: 20px solid #3F53D9;
  border-radius: 120px 120px 0 120px;
  padding: 44px;
}

.avatar {
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #58D382;
  border-radius: 50%;
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.job {
  font-size: 20px;
  line-height: 32px;
  color: #696688;
}

.wrapper_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

.user {
  display: grid;
  grid-template-columns: max-content 2fr 1fr;
  align-self: center;
  align-items: center;
  gap: 20px;
}

.figures {
  display: grid;
  grid-template-columns: repeat(2, 84px);
  gap: 10px
}

.figure {
  width: 84px;
  height: 84px;
  border: 20px solid #C653B9;
  border-radius: 120px 0 120px 120px;
}

@media only screen and (max-width: $breakpoint-laptop-1366) {
  .wrapper {
    grid-template-columns:minmax(500px, 518px) 1fr;
    gap: 30px;
  }

  .wrapper_text {
    max-width: 518px;
    gap: 40px;
  }

  .card {
    border-width: 16px;
    padding: 32px;
    border-radius: 100px 100px 0 100px;
  }
}

@media only screen and (max-width: $breakpoint-1280) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .wrapper_text {
    max-width: 100%;
  }

  .card {
    max-width: 700px;
    margin-left: auto;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .wrapper_text, .wrapper {
    gap: 32px;
  }

  .user {
    grid-template-columns: 1fr 2fr;
  }

  .card {
    border-radius: 40px 40px 0 40px;
    padding: 26px 16px;
    border: 8px solid #3F53D9;
  }
  .figures {
    display: none;
  }

  .card_text {
    line-height: 32px;
    font-size: 20px;
  }
}

