.solutionVideo {
  margin: 90px auto 100px;
  position: relative;
}

.solutionVideoWrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;

  video {
    width: 100%;
    max-width: 100%;
    border-radius: 30px;
    outline: none;
  }
}
.solutionDecorCurcle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -11vw;
  z-index: -1;
  width: 20vw;
  max-width: 400px;
}
@media only screen and (max-width: 960px) {
  .solutionVideoWrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 668px) {
  .solutionVideoWrapper {
    margin: 20px auto 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .solutionVideoWrapper {
    video {
      border-radius: 0;
    }
  }
}
@media only screen and (max-width: 455px) {
  .solutionVideoWrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
