.shedChallenge {
  max-width: 1470px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto 120px;

  h2 {
    font-weight: 300;
    font-size: 56px;
    text-transform: uppercase;
    color: #8CD50B;
    margin-bottom: 55px;
  }

  p, li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
}

.shedChallengeSubtitle {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #8CD50B;
  margin-bottom: 40px;
}

.shedChallengeList {
  columns: 2;
  margin-bottom: 70px;

  li {
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #8A8A8A;
    margin-bottom: 50px;

    span {
      color: #8CD50B;
    }
  }
}

.shedChallengeSteps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.shedChallengeStepsItem {
  max-width: 340px;
  width: 100%;
  background: #FFF;
  box-shadow: 0 0 28px rgba(197, 197, 197, 0.28);
  border-radius: 60px;
  display: flex;
  align-items: center;
  padding: 10px;

  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #8A8A8A;
  }

  &:nth-child(odd) {
    .shedChallengeStepsIcon {
      background: #FFCA29;
    }
  }

  &:nth-child(even) {
    margin-top: 50px;

    .shedChallengeStepsIcon {
      background: #8CD50B;
    }
  }
}

.shedChallengeStepsIcon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 16px;

  img {
    display: block;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .shedChallenge {
    h2 {
      font-size: 48px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .shedChallengeSteps {
    flex-flow: column;
    align-items: center;
  }

  .shedChallengeStepsItem {
    &:nth-child(even) {
      margin-top: 0;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 668px) {
  .shedChallenge {
    margin: 40px auto;

    h2 {
      font-size: 32px;
      margin-bottom: 25px;
    }
  }

  .shedChallengeSubtitle {
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .shedChallengeList {
    columns: 1;
    margin-bottom: 15px;

    li {
      font-size: 14px;
      line-height: 32px;
      margin-bottom: 25px;
    }
  }

  .shedChallengeStepsItem {
    p {
      font-size: 18px;
      line-height: 25px;
    }

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  .shedChallengeStepsIcon {
    width: 64px;
    height: 64px;
  }
}
