@import '../../../../../assets/scss/breakPoints.scss';

.section {
  background-image: linear-gradient(rgba(23, 23, 24, 0.1), transparent 1px),
    linear-gradient(90deg, rgba(23, 23, 24, 0.1), transparent 1px);
  background-size: 75px 75px;
  background-position: center center;
  padding-top: 200px;
  padding-bottom: 20px;

  @media only screen and (max-width: $breakpoint-laptop) {
    padding-top: 160px;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    padding-top: 109px;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    padding-top: 90px;
    padding-bottom: 0;

    min-height: 868px;
    background-color: #333;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.1), transparent 1px);
    background-size: 15px 15px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media only screen and (max-width: $breakpoint-tablet) {
    min-height: 781px;
    flex-direction: column;
    justify-content: normal;
  }
}

.title {
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #171718;
  margin-bottom: 40px;
  margin-left: 60px;
  font-family: 'Raleway', sans-serif;

  @media only screen and (max-width: $breakpoint-laptop) {
    font-size: 60px;
    margin-bottom: 30px;
    margin-left: 40px;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    font-size: 48px;
    margin-left: 30px;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    font-size: 26px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: 16px;
  }
}

.wrapperText {
  padding-left: 60px;
  width: 48%;

  div {
    margin: 0;
  }

  @media only screen and (max-width: $breakpoint-1600) {
    width: 60%;
  }

  @media only screen and (max-width: $breakpoint-laptop) {
    width: 78%;
    padding-left: 40px;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    padding-left: 30px;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    padding: 0 15px 0 16px;
  }
}

.img {
  margin-right: 58px;
  z-index: 1;

  @media only screen and (max-width: $breakpoint-1600) {
    margin-right: 22px;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    margin: 0 auto;
    padding-top: 34px;
    width: 600px;
  }

  @media only screen and (max-width: $breakpoint-tablet-768) {
    width: 400px;
  }

  @media only screen and (max-width: $breakpoint-425) {
    width: 315px;
  }
}

.animatedLineWrapper {
  position: fixed;
  bottom: 0;
}
