.sunUpAnalysis {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 130px;
  overflow: hidden;

  * {
    font-family: Roboto, sans-serif;
  }
}

.sunUpAnalysisWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.sunUpAnalysisSteps {
  margin-top: 140px;
}

.sunUpAnalysisInterface {
  max-width: 1000px;
  padding: 110px 0 190px;
  background: #1B2137;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  img {
    margin-top: 110px;
    max-width: 66vw;
  }
}

.sunUpAnalysisContent {
  padding: 0 130px;

  h3 {
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    color: #F2F2F2;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    line-height: 150%;
    color: #F2F2F2;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .sunUpAnalysis {
    padding-left: 0;
  }

  .sunUpAnalysisWrapper {
    flex-flow: column nowrap;
    align-items: center;
  }

  .sunUpAnalysisSteps {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 668px) {
  .sunUpAnalysisSteps {
    margin: 0 auto 60px;
    padding: 0 20px;

    img {
      display: block;
      width: 100%;
    }
  }

  .sunUpAnalysisInterface {
    padding: 60px 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    width: 100%;
  }

  .sunUpAnalysisContent {
    padding: 0 20px;

    h3 {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .sunUpAnalysisImages {
    width: 100%;

    img {
      display: block;
      max-width: none;
      margin-top: 40px;

      &:nth-child(odd) {
        margin-right: 0;
        margin-left: auto;
        padding-left: 20px;
      }

      &:nth-child(even) {
        padding-right: 20px;
      }
    }
  }
}
