.shedPrototype {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto 240px;
}

.shedPrototypeWrapper {
  h2 {
    padding-left: 240px;
    font-weight: 300;
    font-size: 56px;
    line-height: 1;
    text-transform: uppercase;
    color: #8CD50B;
    margin-bottom: 55px;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .shedPrototypeWrapper {
    h2 {
      padding-left: 15px;
      font-size: 48px;
    }
  }
}

@media only screen and (max-width: 668px) {
  .shedPrototype {
    margin: 40px auto 50px;
  }

  .shedPrototypeWrapper {
    h2 {
      padding: 0 15px;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 30px;
    }

    img {
      margin: 0 auto;
    }
  }
}
