@import '../../../../../../assets//scss/breakPoints.scss';

.screen {
    display: flex;
    justify-content: space-between;
    column-gap: 120px;
    align-items: center;

    @media only screen and (max-width: $breakpoint-laptop-1366) {
        column-gap: 80px;
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        flex-direction: column;
        row-gap: 40px;
    }

    @media only screen and (max-width: $breakpoint-375) {
        row-gap: 32px;
    }
}

.bottomScreen {
    position: relative;
    padding-left: calc(213px - 60px);
    top: -20px;

    @media only screen and (max-width: $breakpoint-laptop-1366) {
        padding-left: calc(150px - 40px);
        top: -15px;
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        padding-left: 0;
    }

    @media only screen and (max-width: $breakpoint-tablet-768) {
        top: -10px;
    }
}

.mediaTopWrapper {
    z-index: 1;
    height: 860px;

    @media only screen and (max-width: $breakpoint-laptop-1366) {
        height: 690px;
    }

    @media only screen and (max-width: $breakpoint-tablet-768) {
        height: 603px;
        padding-left: 30px;
    }

    @media only screen and (max-width: $breakpoint-480) {
        height: 295px;
        padding-left: 15px;
    }

    img {
        height: calc(100% + 35px) !important;
        min-height: calc(100% + 35px) !important;
        max-height: calc(100% + 35px) !important;

        @media only screen and (max-width: $breakpoint-laptop-1366) {
            height: calc(100% + 20px) !important;
            min-height: calc(100% + 20px) !important;
            max-height: calc(100% + 20px) !important;
        }

        @media only screen and (max-width: $breakpoint-tablet-768) {
            height: calc(100% + 30px) !important;
            min-height: calc(100% + 30px) !important;
            max-height: calc(100% + 30px) !important;
        }

        @media only screen and (max-width: $breakpoint-375) {
            height: calc(100% + 20px) !important;
            min-height: calc(100% + 20px) !important;
            max-height: calc(100% + 20px) !important;
        }
    }
}

.mediaBottomWrapper {
    height: 680px;

    @media only screen and (max-width: $breakpoint-laptop-1366) {
        height: 628px;
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        order: -1;
        padding-left: calc(151px - 30px);
    }

    @media only screen and (max-width: $breakpoint-tablet-768) {
        height: 540px;
    }

    @media only screen and (max-width: $breakpoint-480) {
        padding-left: calc(70px - 15px);
        height: 251px;
    }

    img {
        height: calc(100% + 60px) !important;
        min-height: calc(100% + 60px) !important;
        max-height: calc(100% + 60px) !important;

        @media only screen and (max-width: $breakpoint-laptop-1366) {
            height: calc(100% + 50px) !important;
            min-height: calc(100% + 50px) !important;
            max-height: calc(100% + 50px) !important;
        }

        @media only screen and (max-width: $breakpoint-375) {
            height: calc(100% + 20px) !important;
            min-height: calc(100% + 20px) !important;
            max-height: calc(100% + 20px) !important;
        }
    }
}

.mediaBottomWrapper,
.mediaTopWrapper {
    width: 100%;

    &>div {
        height: 100%;
    }
}

.featuresInfo {
    max-width: 732px;

    @media only screen and (max-width: $breakpoint-laptop-1366) {
        max-width: 518px;
    }

    @media only screen and (max-width: $breakpoint-tablet) {
        max-width: 100%;
        padding-right: 30px;
    }

    @media only screen and (max-width: $breakpoint-375) {
        padding-right: 15px;
    }
}
