.appNaviAbout {
  overflow: hidden;
  margin: 50px auto 0;
  position: relative;
  max-width: 1920px;
}

.appNaviWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;

  & > div {
    flex: 0 0 50%;
  }
}

.textForMobile {
  display: none;
}

.appNaviAboutLeft {
  img {
    max-width: 50vw;
    width: 100%;
    display: block;
  }
}

.appNaviAboutRight {
  margin: 0 9vw 0 0;
  flex-shrink: 1 !important;
}

@media only screen and (max-width: 1600px) {
  .appNaviAboutRight {
    margin: 0 5vw 0 0;
  }

  .appNaviMainLeft {
    margin: 10vw 0 0 5vw;
  }
}
@media only screen and (max-width: 960px) {
  .appNaviAboutRight {
    margin: 0 5vw 0 0;
  }

  .appNaviMainLeft {
    margin: 10vw 0 0 5vw;
  }
}

@media only screen and (max-width: 668px) {
  .appNaviAbout {
    margin: 40px 0 0;
  }

  .appNaviAboutRight {
    margin: 0 15px 0 0;
  }

  .appNaviAboutRight {
    p {
      display: none;
    }
  }

  .textForMobile {
    display: block;
    margin: 15px 0 0;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 455px) {
  .textForMobile {
    padding-left: 15px;
    padding-right: 15px;
  }
}
